{% extends 'base.html.twig' %}

{% block title %}Наши услуги{% endblock %}

{% block page_title %}Наши услуги{% endblock %}

{% block page_content %}
    <div class="container">
        {% if available | length %}
            <div class="row justify-content-start">
                {% for service in available %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">Извините, в данный момент нет доступных услуг</p>
        {% endif %}
        {% if unavailable | length %}
            <p class="text-center">
                Обычно у нас также доступны следующий услуги, но в данный момент мы не можем их выполнить.
                Уточняйте все подробности по контактному телефону
            </p>
            <div class="row justify-content-start">
                {% for service in unavailable %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary" disabled>Go somewhere</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}